{% extends "base.html" %}
{% block Content %}

  <div class="container">
    <h1>Top Creators</h1>

    <!-- Top Scrolling Section -->
    <div class="scroll-container top-scroll">
      <div class="scroll-content">
        <!-- Original Content -->
        <div class="creator">
          <span class="name">demchenk0</span>
          <span class="details">249,300</span>
        </div>
        <div class="creator">
          <span class="name">Praashoo7</span>
          <span class="details">238,420</span>
        </div>
        <div class="creator">
          <span class="name">Nawsome</span>
          <span class="details">206,380</span>
        </div>
        <div class="creator">
          <span class="name">alexruix</span>
          <span class="details">189,680</span>
        </div>
         <div class="creator">
          <span class="name">vinodjangido7</span>
          <span class="details">433</span>
        </div>
        <!-- Duplicated Content -->
        <div class="creator">
          <span class="name">demchenk0</span>
          <span class="details">249,300</span>
        </div>
        <div class="creator">
          <span class="name">Praashoo7</span>
          <span class="details">238,420</span>
        </div>
        <div class="creator">
          <span class="name">Nawsome</span>
          <span class="details">206,380</span>
        </div>
        <div class="creator">
          <span class="name">alexruix</span>
          <span class="details">189,680</span>
        </div>
        <div class="creator">
          <span class="name">vinodjangido7</span>
          <span class="details">433</span>
        </div>

      </div>
    </div>

    <!-- Middle Scrolling Section -->
    <div class="scroll-container middle-scroll">
      <div class="scroll-content">
        <!-- Original Content -->
        <div class="creator">
          <span class="name">Galahhad</span>
          <span class="details">127,140</span>
        </div>
        <div class="creator">
          <span class="name">JkHuger</span>
          <span class="details">127,050</span>
        </div>
        <div class="creator">
          <span class="name">satyamchaudharyd_</span>
          <span class="details">175,280</span>
        </div>
        <div class="creator">
          <span class="name">gharsh11032000</span>
          <span class="details">163,510</span>
        </div>
        <!-- Duplicated Content -->
        <div class="creator">
          <span class="name">Galahhad</span>
          <span class="details">127,140</span>
        </div>
        <div class="creator">
          <span class="name">JkHuger</span>
          <span class="details">127,050</span>
        </div>
        <div class="creator">
          <span class="name">satyamchaudharyd_</span>
          <span class="details">175,280</span>
        </div>
        <div class="creator">
          <span class="name">gharsh11032000</span>
          <span class="details">163,510</span>
        </div>
      </div>
    </div>

    <!-- Bottom Scrolling Section -->
    <div class="scroll-container bottom-scroll">
      <div class="scroll-content">
        <!-- Original Content -->
        <div class="creator">
          <span class="name">Smit-Prajapati</span>
          <span class="details">126,520</span>
        </div>
        <div class="creator">
          <span class="name">cssbuttons-io</span>
          <span class="details">116,430</span>
        </div>
        <div class="creator">
          <span class="name">Pradeepsaranbishnoi</span>
          <span class="details">113,430</span>
        </div>
        <div class="creator">
          <span class="name">barisdogansutcu</span>
          <span class="details">110,080</span>
        </div>
        <!-- Duplicated Content -->
        <div class="creator">
          <span class="name">Smit-Prajapati</span>
          <span class="details">126,520</span>
        </div>
        <div class="creator">
          <span class="name">cssbuttons-io</span>
          <span class="details">116,430</span>
        </div>
        <div class="creator">
          <span class="name">Pradeepsaranbishnoi</span>
          <span class="details">113,430</span>
        </div>
        <div class="creator">
          <span class="name">barisdogansutcu</span>
          <span class="details">110,080</span>
        </div>
      </div>
    </div>
  </div>
  {% endblock Content %}
