{% extends "base.html" %}

{% block content %}

<div class="container">


<form method="POST">
    {{form.hidden_tag()}}
    {{form.prof_id.label(class="form-label")}}
    {{form.prof_id(class="form-control")}}
    {{form.prof_name.label(class="form-label")}}
    {{form.prof_name(class="form-control")}}
    {{form.email.label(class="form-label")}}
    {{form.email(class="form-control")}}
    {{form.gender.label(class="form-label")}}
    {{form.gender(class="form-control")}}
    {{form.clg_id.label(class="form-label")}}
    {{form.clg_id(class="form-control")}}
    {{form.department.label(class="form-label")}}
    {{form.department(class="form-control")}}
    {{form.role.label(class="form-label")}}
    {{form.role(class="form-control")}}
    {{form.date_of_join.label(class="form-label")}}
    {{form.date_of_join(class="form-control")}}
    {{form.password.label(class="form-label")}}
    {{form.password(class="form-control")}}
    {{form.confirmpassword.label(class="form-label")}}
    {{form.confirmpassword(class="form-control")}}
    <br/>
    <br/>
    {{form.submit(class="btn btn-secondary")}}
</form>
</div>
<div class="container">
    <h1>Professors</h1>
    <table class="table table-striped table-hover shadow p-3 mb-5 bg-body rounded">
        <tr>
            <th scope="col">Professor Id</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">College Id</th>
            <th>Department</th>
            <th scope="col">Date Of Join</th>
            <th scope="col">Role</th>
            <!-- <th>Password</th> -->
          </tr>
     {% for professor in professors  %}
     
        <tr>
            <td>{{professor.prof_id }}</td>
            <td>{{professor.prof_name}}</td>
            <td>{{professor.gender}}</td>
            <td>{{professor.email}}</td>
            <td>{{professor.clg_id}}</td>
            <td>{{professor.dept}}</td>
            <td>{{professor.doj}}</td>
            <td>{{professor.role}}</td>
            <!-- <td>{{professor.password_hash}}</td> -->
    
        </tr>
        {% endfor %}
      </table>
</div>
{% endblock %}